streamlit<1.30.0
pandas<2.1.0
networkx
plotly
pyvis
bokeh
numpy<1.25.0
geopy
pydeck
folium
streamlit-folium
seaborn
altair
python-louvain
matplotlib
streamlit-aggrid
dash
ipywidgets
graphviz
pyecharts
openpyxl